* { margin: 0; padding: 0; }

h1 { text-align: center; }

div { float: left; clear: both; height: 300px; width: 300px; margin-top: 1200px; }
div:nth-child(2n) { float: right; }

ul { position: fixed; left: 0; top: 0; }

#block-1 { background: red; }
#block-2 { background: orange; }
#block-3 { background: papayawhip; }
#block-4 { background: teal; }

#back-to-top { position: fixed; right: 10px; bottom: 10px; }

.clear { clear: both; }