# Sass
.sass-cache

# Sublime
.sublime-project
.sublime-workspace

# General
node_modules

# Temp/Cache files
*.TMP

# Sublime
*.sublime-project
*.sublime-workspace

# OS generated styles
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db